
{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-3 col-lg-3">
        <br>
        <div class="card card-body">
            <img class="profile-pic" src="{% static 'images/IMG_20221011_121916.jpg' %}">
            <hr>
            <h5>Hi, I am Amal Vs</h5>
            <p style="font-size:14px;">Web Developer</p>
            <p style="font-size:14px;">I like building things and I love to learning new technologies.</p>
        </div>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-9">
        <br>
        <div class="card card-body">
            <h5>About Myself</h5>
            <p style="font-size:14px;">
                I started my journey into Web Development with my first project of printing "Hello World" in python.
                Ever since then, I was eager to find solutions to every problem that came across.
                My first project was to create a Movie Database website using Python and Django Framework. I used Python
                and Django in back-end side and HTML, CSS & Bootstrap in front-end side. Also developed a To-Do list
                application and E-cart Shopping Application in similar manner.
            </p>
            <p style="font-size:14px;">Then I came across Django REST framework
                and began to experiment with it. I have developed the same Movie Database website using RESTful framework.
                Also done Token Authentication using Django REST framework. I have so far learned Python, Django,
                Django REST framework, HTML/CSS/JavaScript, GIT, RESTful APIS and much more to go.
            </p>
        </div>
    </div>
</div>
    <br>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card card-body">
            <h5>My Skills</h5>
        </div>
              <br>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card card-body">
            <h5>Projects</h5>
        </div>
    </div>
</div>

{% endblock %}