body{
  text-align:justify;
  background-color:#e8e8e8;
  font-family:calibri;
}

.top-layout
{
  width:100%
  height:auto;
  background-color:#321528;
}

.profile-pic{
  width: 150px;
  height: 150px;
  border-radius:50%;
  margin-left:auto;
  margin-right:auto;
}